body{
    background-color: burlywood;
    padding: 50px;
    text-align: center;
  }
.FORM{
    text-align: left;
    background-color: cornflowerblue;
}
.connect{
    text-align: right;
}
.image{
    image height: 5px;
    image width:5px;
}
.img1{
    height: 100px;
    width: 100px;
    padding: 25px;
}
